@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  text-align:center;
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:30px 0;
  border-radius: 15px;
  text-align: center;
  background: #1666cf;
  color: white;
  border-style: double;
}
